{% extends 'base.html' %}
{% block content %}

    <h2>User #{{ db_user_info.user_id }}'s Information</h2>
    <ul>
      <li>Email: {{ db_user_info.email }}</li>
      <li>User ID: {{ db_user_info.user_id }}</li>
      <li>Age: {{ db_user_info.age }}</li>
      <li>Zipcode: {{ db_user_info.zipcode }}</li><br>
      <h4>Movie Ratings</h4>
      {% if db_user_info.ratings %}
      <ul>
          {% for rating in db_user_info.ratings %} 
            <li>Movie: {{ rating.movie.title }} Score: {{ rating.score }}</li>
          {% endfor %}      
      </ul>
      {% endif %}
    </ul>

{% endblock %}
