{% extends 'base.html' %}
{% block content %}

    <h2>User #{{ user.user_id }}'s Information</h2>
    <ul>
      <li>Email: {{ user.email }}</li>
      <li>User ID: {{ user.user_id }}</li>
      <li>Age: {{ user.age }}</li>
      <li>Zipcode: {{ user.zipcode }}</li><br>
      <h4>Movie Ratings</h4>
      {% if user.ratings %}
      <ul>
          {% for rating in user.ratings %} 
            <li>Movie: {{ rating.movie.title }} Score: {{ rating.score }}</li>
          {% endfor %}      
      </ul>
      {% endif %}
    </ul>

{% endblock %}
